.col-2 {
    text-align: center;
}


.forecastInfo{
    font-family:"Antic Slab", serif;
    display:inline;
    text-align:center;
    color: chartreuse;
    
    
}

.forecastIcon {
    display:inline;
    margin: auto;
    color: chartreuse;
    

}