.App {
    font-family:"Antic Slab", serif;
    text-align: center;
  }
  
  .wrapper {
    padding: 10px;
    max-width: 700px;
    margin: 50px auto;
    border-radius: 20px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  }

  .git{
    position: relative;
    display:block;
    text-align: center;
  }

  
  
 