  img.weatherIcon{
    size: 200px;
  }
  
  
  
  .description, .feels, .humidity, .wind {
    text-align: left;
    display: block;
    padding: 5px;
    font-size: 15px;
    color: #4f5258;
    font-family: "Antic Slab", serif;
    list-style: none;
    text-transform: capitalize;
  }


  .searchTemp {
    text-align: right;
    display: block;
    color: #006ec5;
    padding: 20px;
    font-size: 30px;
  }

  .active{
    cursor:pointer;
   
  }

.active:hover{
  text-decoration: none;
  color:black;
}

  .unit{
    text-align: right;
    display: block;
    color: #006ec5;
    padding: 0px;
  
  }
  
  .searchForm {
    display: block;
    padding: 30px;
  }

  .city{
    text-align: right;
    padding: 20px,20px,0px;
  }
  
  .dateTime {
    text-align: right;
    display: block;
    padding: 10px,0px;
    color: #4f5258;
    font-family: "Antic Slab", serif;
    list-style: none;
  }

  